{
  "env": {
    "node": true,
    "es6": true,
  },
  "extends": [
    "eslint",
  ],
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true
  },
  "plugins": [
    "chai-friendly"
  ],
  rules: {
    "require-jsdoc": 'off',
    "lines-around-comment": off,
    "indent": ["error", 2, {"SwitchCase": 1} ],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "always-multiline"],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "strict": ["error", "never"],
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
}
